// fill the browser with our glorious website
body,
html {
	height: 100%;
	width: 100%;
	background-color: $background-color;
	font-family: 'Raleway', sans-serif;
	color: $text-color;
}

body {

	@extend %raleway-regular;

	// Note: below are very loose responsive breakpoints;
	// tighten up as needed for your application.

	/* ----------- Phones ----------- */
	@media screen
		and (max-width: 750px) {
			font-size: 16px;
	}

	/* ----------- Tablets ----------- */
	@media screen
		and (min-width: 750px) 
		and (max-width: 1280px) {
			font-size: 20px;
	}

	/* ----------- Non-Retina Screens ----------- */
	@media screen
		and (min-width: 1280px) 
		and (-webkit-min-device-pixel-ratio: 1) {
			font-size: 24px;
	}

	/* ----------- Retina Screens ----------- */
	@media screen
		and (min-width: 1280px) 
		and (-webkit-min-device-pixel-ratio: 2)
		and (min-resolution: 192dpi) {
			font-size: 24px;
	}
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.25em; }
h3 { font-size: 1em; }
h4 { font-size: 0.666667em; }
h5 { font-size: 0.5em; }
h6 { font-size: 0.333333em; }

#header {
	position: relative;
	width: 100%;
	height: $header-height;
	box-sizing: border-box;

	line-height: $header-height;
	text-align: center;
	border-bottom: 1px solid $text-color;

	h1,
	h3 {
		margin: 0;
	}
	h1 {
		display: inline-block;
		vertical-align: middle;
		font-size: 1.5em;
	}
	h3 {
		position: absolute;
		left: 1em;
	}
}

#main {
	text-align: center;
}
