// fill the browser with our glorious website
body,
html {
	height: 100%;
	width: 100%;
	background-color: $background-color;
	font-family: 'Raleway', sans-serif;
	color: $text-color;
}

body {

	@extend %raleway-regular;

	// Note: below are very loose responsive breakpoints;
	// tighten up as needed for your application.

	/* ----------- Phones ----------- */
	@media screen
		and (max-width: 750px) {
			font-size: 15px;
	}

	/* ----------- Tablets ----------- */
	@media screen
		and (min-width: 750px) 
		and (max-width: 1280px) {
			font-size: 18px;
	}

	/* ----------- Non-Retina Screens ----------- */
	@media screen
		and (min-width: 1280px) 
		and (-webkit-min-device-pixel-ratio: 1) {
			font-size: 22px;
	}

	/* ----------- Retina Screens ----------- */
	@media screen
		and (min-width: 1280px) 
		and (-webkit-min-device-pixel-ratio: 2)
		and (min-resolution: 192dpi) {
			font-size: 22px;
	}
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.25em; }
h3 { font-size: 1em; }
h4 { font-size: 0.666667em; }
h5 { font-size: 0.5em; }
h6 { font-size: 0.333333em; }

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: $text-color;
}

#header {
	position: relative;
	width: 100%;
	height: $header-height;
	box-sizing: border-box;

	line-height: $header-height;
	text-align: center;
	border-bottom: 1px solid $text-color;

	h1,
	h3 {
		margin: 0;
	}
	h1 {
		display: inline-block;
		vertical-align: middle;
		font-size: 1.5em;
	}
	h3 {
		position: absolute;
		left: 1em;
	}

	.dropdown {
		display: inline-block;
		position: absolute;
		width: $emotions-dropdown-width;
		right: 0;
		text-align: right;

		outline: none;

		& button {
			border: none;
			padding: 0 1.5em 0 0;
			background: none;

			.caret {
				border: none;
				margin-left: 0.5em;
				vertical-align: top;
				&:after {
					content: '▼';
					display: inline-block;
					position: relative;
					font-size: 0.75em;
					font-family: 'sans-serif';
				}
			}
		}

	}

	.dropdown-menu {
		position: relative;
		right: 0;
		width: 100%;
		margin: 0;
		padding: 0;
	    font-size: 1em;

		background-color: rgba($callout-background-color, 0.5);
		box-shadow: none;
		border: none;
		border-radius: 0;
		outline: none;

		li {
			box-sizing: border-box;
			margin-bottom: 0;
			padding: 0 0 0 1em;
			line-height: 2em;

			color: $text-overlay-color;

			&:first-of-type {
				padding-top: 0.5em;
			}
			&:last-of-type {
				padding-bottom: 0.5em;
			}

			&:hover,
			&:active {
				background-color: rgba($callout-highlight-color, 0.5);
				outline: none;
			}
		}
	}

}

#main {
	text-align: center;
	position: relative;

	// prevent scrollbars across the site.
	// might be better to fix each offender individually, but this works well for now.
	overflow: hidden;
}

#scrollbar {
	position: absolute;
	width: $emotions-dropdown-width;
	height: calc(100% - #{$header-height});
	top: $header-height;
	right: 0;
	overflow: hidden;

	.segment-container {
		position: absolute;
		width: $emotions-dropdown-width;
		height: 100%;
		right: 0.75em - $emotions-dropdown-width;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		cursor: pointer;

		transition-property: right;
		transition-duration: #{$ui-scrollbar-toggle-duration-close}s;
		transition-timing-function: ease;

		div {
			width: 100%;
			flex-grow: 1;
			margin: auto;

			text-align: center;
			
			color: $text-color;
			background-color: rgba($scrollbar-background-color, 0.5);

			transition-property: background-color, color;
			transition-duration: #{$states-highlighted-out}s;
			transition-timing-function: ease-out;

			box-sizing: border-box;
			&:not(:last-child) {
				margin-bottom: 1px;
			}

			&.highlighted {
				color: $text-overlay-color;
				background-color: rgba($scrollbar-background-color, 0.9);
				transition: background-color #{$states-highlighted-in}s ease-out;
			}

			h3 {
				line-height: 1em;
				margin-top: calc(50% - 1em);
				margin-bottom: 0;
				pointer-events: none;
			}
		}
	}

	&.open .segment-container {
		right: 0;
		transition-duration: #{$ui-scrollbar-toggle-duration-open}s;
	}

}

#callout {
	position: absolute;
	width: 19em;
	top: 0;
	left: 0;

	padding: 1.5em;
	@extend %raleway-light;
	color: $text-overlay-color;
	text-align: left;
	pointer-events: none;

	opacity: 0.0;

	transition-property: opacity, background-color;
	transition-duration: #{$ui-overlays-duration-out}s;
	transition-timing-function: ease-in-out;

	&.visible {
		transition-duration: #{$ui-overlays-duration-in}s;
		opacity: 1.0;
	}

	background-color: rgba($callout-background-color, 0.5);
	@include emotion-background-color;

	h3 {
		margin-top: 0;
		text-transform: uppercase;
	}

	p {
		margin-bottom: 0;
		font-size: 1.0em;
	}
}

#modal-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(#ffffff, 0.5);
	opacity: 0.0;
	display: none;

	transition-property: opacity;
	transition-duration: #{$ui-overlays-duration-out}s;
	transition-timing-function: ease-in-out;

	&.visible {
		transition-duration: #{$ui-overlays-duration-in}s;
		opacity: 1.0;
	}
}

#modal {
	$modal-width: 25em;
	$modal-height: 15em;

	position: absolute;
	width: $modal-width;
	min-height: $modal-height;
	top: 50%;
	margin-top: -0.5 * $modal-height;
	left: 50%;
	margin-left: -0.5 * $modal-width;
	padding: 1.5em;

	background-color: rgba($callout-background-color, 0.5);
	color: $text-overlay-color;
	@extend %raleway-light;

	opacity: 0.0;
	display: none;

	transition-property: opacity;
	transition-duration: #{$ui-overlays-duration-out}s;
	transition-timing-function: ease-in-out;

	&.visible {
		transition-duration: #{$ui-overlays-duration-in}s;
		opacity: 1.0;
	}

	h3 {
		margin-top: 0;
		text-transform: uppercase;
	}

	p {
		margin-bottom: 0;
		font-size: 1.0em;
	}

	a,
	a:link,
	a:visited,
	a:hover,
	a:active {
		@extend %raleway-regular;
		text-decoration: none;
		color: $text-overlay-color;
	}

	.home-link {
		width: 100%;
		margin: 2em 0 1.5em 0;
		text-align: center;
	}

	.close-button {
		position: absolute;
		top: 0.5em;
		right: 0.5em;
		line-height: 1em;

		cursor: pointer;

		&::before {
			display: inline-block;
			margin: 0;
			padding: 0;

			font-size: 3em;
			font-weight: 200;
			content: '×';
		}
	}
}
