// fill the browser with our glorious website
body,
html {
	height: 100%;
	width: 100%;
	overflow: hidden;

	background-color: $background-color;
	font-family: 'Raleway', sans-serif;
	color: $text-color;
}

body {

	@extend %raleway-regular;

	// Note: below are very loose responsive breakpoints;
	// tighten up as needed for your application.

	/* ----------- Phones ----------- */
	@media screen
		and (max-width: 750px) {
			font-size: 15px;
	}

	/* ----------- Tablets ----------- */
	@media screen
		and (min-width: 750px)
		and (max-width: 1280px) {
			font-size: 18px;
	}

	/* ----------- Desktop Screens ----------- */
	@media screen
		and (min-width: 1280px) {
			font-size: 22px;
	}

	&.small-screen-warning {
		background-color: $text-color;
		color: $text-overlay-color;
		display: flex;
		justify-content: center;
		align-items: center;

		.warning-container {
			width: 15em;
			p {
				@extend %raleway-light;
				color: $text-overlay-color;
			}
		}
	}
}

h1 { font-size: 1.5em; font-weight: normal; }
h2 { font-size: 1.25em; font-weight: normal; }
h3 { font-size: 1em; font-weight: normal; }
h4 { font-size: 0.8em; font-weight: normal; }
h5 { font-size: 0.5em; font-weight: normal; }
h6 { font-size: 0.333333em; font-weight: normal; }

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: $text-color;
}

#header {
	position: relative;
	width: 100%;
	height: $header-height;
	box-sizing: border-box;

	line-height: $header-height;
	text-align: center;
	border-bottom: 1px solid $text-color;
	white-space: nowrap;

	h1,
	h3 {
		margin: 0;
	}
	h1 {
		display: inline-block;
		vertical-align: middle;
		font-size: 1.5em;
	}
	h3 {
		position: absolute;
		left: 1em;
	}
}

#header .dropdown,
#more-info .dropup {
	display: inline-block;
	position: absolute;
	width: $emotions-dropdown-width;
	right: 0;
	text-align: right;
	outline: none;

	h4 {
		margin: 0;
		pointer-events: none;
	}

	& button {
		border: none;
		padding: 0 1.5em 0 0;
		background: none;

		.caret {
			border: none;
			margin-left: 0.5em;
			vertical-align: top;
			&:after {
				content: '▼';
				display: inline-block;
				position: relative;
				font-size: 0.75em;
				font-family: 'sans-serif';
			}
		}
	}

	.dropdown-menu {
		position: relative;
		right: 0;
		width: 100%;
		margin: 0;
		padding: 0;
	  	font-size: 1em;
		background-color: rgba($scrollbar-background-color, 1);
		box-shadow: none;
		border: none;
		border-radius: 0;
		outline: none;

		li {
			box-sizing: border-box;
			margin-bottom: 0;
			padding: 0 0 0 1em;
			line-height: 2em;

			color: $text-overlay-color;

			&:first-of-type {
				padding-top: 0.5em;
			}
			&:last-of-type {
				padding-bottom: 0.5em;
			}

			&:hover,
			&:active {
				background-color: rgba($menu-highlight-color, 1);
				outline: none;
			}
		}
	}
}

@keyframes stretch {
  0% {
		opacity: 0;
  }
	60% {
		opacity: 0;
	}
  100% {
		opacity: 1;
  }
}

#down-arrow {

	img {
		cursor: pointer;

		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		bottom: 20px;

		display: none;

		&.fadeOutIn {
			animation-name: stretch;
			animation-duration: 4s;
			animation-timing-function: ease-in;
			animation-delay: 0;
			animation-direction: normal;
			animation-iteration-count: infinite;
			animation-fill-mode: none;
			animation-play-state: running;
		}

		&.visible {
			display: block;
		}

	}

}

#header .dropdown {
	.more-on &.hide-on-more {
		display: none;
	}
}

#main {
	text-align: center;
	position: relative;

	// prevent scrollbars across the site.
	// might be better to fix each offender individually, but this works well for now.
	overflow: hidden;
}

#scrollbar {
	position: absolute;
	width: $emotions-dropdown-width;
	height: calc(100% - #{$header-height});
	top: $header-height;
	right: 0;
	overflow: hidden;

	div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.segment-container {
		position: absolute;
		width: $emotions-dropdown-width;
		height: calc(100% - #{$more-info-height});
		top: 0;
		left: $emotions-dropdown-width - 0.75em;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		cursor: pointer;
		pointer-events: auto;

		div {
			width: 100%;
			flex-grow: 1;
			margin: auto;

			text-align: center;

			color: $text-color;
			background-color: rgba($scrollbar-background-color, 0.5);

			transition-property: background-color, color;
			transition-duration: #{$states-highlighted-out}s;
			transition-timing-function: ease-out;

			box-sizing: border-box;
			margin-bottom: 1px;

			&.highlighted {
				color: $text-overlay-color;
				background-color: rgba($scrollbar-background-color, 0.9);
				transition: background-color #{$states-highlighted-in}s ease-out;
			}

			h4 {
				pointer-events: none;
			}
		}
	}
}

#callout {
	position: absolute;
	width: 19em;
	top: 0;
	left: 0;

	padding: 1.5em;
	@extend %raleway-light;
	color: $text-overlay-color;
	text-align: left;
	pointer-events: none;

	opacity: 0.0;

	transition-property: opacity, background-color;
	transition-duration: #{$ui-overlays-duration-out}s;
	transition-timing-function: ease-in-out;

	&.visible {
		transition-duration: #{$ui-overlays-duration-in}s;
		opacity: 1.0;
	}

	background-color: rgba($callout-background-color, 0.5);
	@include emotion-background-color(0.5);

	h3 {
		margin-top: 0;
		text-transform: uppercase;
	}

	p {
		margin-bottom: 0;
		font-size: 1.0em;
	}

	a {
		transition-property: color;
		transition-duration:  #{$ui-overlays-duration-out}s;
		transition-timing-function: ease-in-out;
		pointer-events: auto;
		font-weight: normal;
		@include emotion-color;
	}

	.more-on & {
		display: none;
	}
}

.close-button {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	line-height: 1em;
	cursor: pointer;

	&::before {
		display: inline-block;
		margin: 0;
		padding: 0;

		font-size: 3em;
		font-weight: 200;
		content: '×';
	}
}

#more-about {
	.back-to-atlas {
		position: relative;
	}
}

.back-to-atlas {
	position: absolute;
	display: inline-block;
	bottom: 0em;
	left: 50%;
	transform: translateX(-50%);
	margin: 1em 0em 1em 0em;

	border: 1px solid;
	text-align: center;
	padding: .2em .4em;

	color: $text-color;
	background-color: rgba($background-color, 0.5);
	cursor: pointer;

	h4 {
		margin: 0;
	}

	p {
		margin: 0;
	}
}

#modal-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: $background-color;
	opacity: 0.0;
	display: none;

	transition-property: opacity;
	transition-duration: #{$ui-overlays-duration-out}s;
	transition-timing-function: ease-in-out;
	z-index: $depth-10;

	&.visible {
		transition-duration: #{$ui-overlays-duration-in}s;
		opacity: 0.25;
	}
}

#infoButton {
	cursor: pointer;
	&::after{
  	display: inline-block;
  	width: 1.4em;
  	height: 1.4em;
  	background: $infoButton-highlight-color;
  	border-radius: 50%;
    content: 'i';
		line-height: 1.5em;
    font-size: .8em;
		margin-left: 1em;
		color: $text-overlay-color;
  }
}

#modal {
	$modal-width: 30em;
	$modal-height: 15em;

	position: absolute;
	width: $modal-width;
	min-height: $modal-height;
	top: 50%;
	margin-top: -0.5 * $modal-height;
	left: 50%;
	margin-left: -0.5 * $modal-width;
	padding: 1.5em;

	background-color: rgba($scrollbar-background-color, 0.9);
	color: $text-overlay-color;

	z-index: $depth-100;
	@extend %raleway-light;

	opacity: 0.0;
	display: none;

	transition-property: opacity;
	transition-duration: #{$ui-overlays-duration-out}s;
	transition-timing-function: ease-in-out;

	&.visible {
		transition-duration: #{$ui-overlays-duration-in}s;
		opacity: 1.0;
	}

	h3 {
		margin-top: 0;
		text-transform: uppercase;
	}

	p {
		margin-bottom: 0;
		font-size: 1.0em;
	}

	a,
	a:link,
	a:visited,
	a:hover,
	a:active {
		@extend %raleway-regular;
		text-decoration: none;
		color: $text-overlay-color;
		&.aboutLink {
			color: lighten($color-enjoyment, 15%);
		}
	}

	.home-link {
		width: 100%;
		margin: 1em 0 1.5em 0;
		text-align: center;
	}
}
