// fill the browser with our glorious website
body,
html {
	height: 100%;
	width: 100%;
	overflow: hidden;

	background-color: $background-color;
	font-family: 'Raleway', sans-serif;
	color: $text-color;
}

body {

	@extend %raleway-regular;

	// Note: below are very loose responsive breakpoints;
	// tighten up as needed for your application.

	/* ----------- Phones ----------- */
	@media screen
		and (max-width: 750px) {
			font-size: 15px;
	}

	/* ----------- Tablets ----------- */
	@media screen
		and (min-width: 750px) {
			font-size: 18px;
	}

	/* ----------- Desktop Screens ----------- */
	/*
	@media screen
		and (min-width: 1600px) {
			font-size: 22px;
	}
	*/

	&.small-screen-warning {
		background-color: $text-color;
		color: $text-overlay-color;
		display: flex;
		justify-content: center;
		align-items: center;

		.warning-container {
			width: 15em;
			p {
				@extend %raleway-light;
				color: $text-overlay-color;
			}
			a,
			a:link,
			a:visited,
			a:hover,
			a:active {
				// @extend %raleway-regular;
				text-decoration: underline;
				color: $text-overlay-color;
			}
		}
	}
}

h1 { font-size: 1.5em; font-weight: normal; }
h2 { font-size: 1.25em; font-weight: normal; }
h3 { font-size: 1em; font-weight: normal; }
h4 { font-size: 0.8em; font-weight: normal; }
h5 { font-size: 0.5em; font-weight: normal; }
h6 { font-size: 0.333333em; font-weight: normal; }

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: $text-color;
}

#header {
	position: relative;
	width: 100%;
	height: #{$ui-header-height}px;
	box-sizing: border-box;

	line-height: #{$ui-header-height}px;
	text-align: center;
	border-bottom: 1px solid $text-color;
	white-space: nowrap;

	h1,
	h3 {
		margin: 0;
	}
	h1 {
		display: inline-block;
		vertical-align: middle;
		font-size: 1.5em;
	}
	h3 {
		position: absolute;
		left: 1em;
	}
}

#mobile-header {
	position: relative;
	width: 100%;
	height: #{$ui-header-height-small}px;
	box-sizing: border-box;

	line-height: #{$ui-header-height-small}px;
	text-align: center;
	white-space: nowrap;

	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 1s, opacity #{$ui-labels-duration-out}s ease;
	&.visible {
		visibility: visible;
		opacity: 1.0;
		transition: visibility 0s, opacity #{$ui-labels-duration-in}s 1s ease;
	}

	.nav-button {
		width: 100%;
		height: 100%;
		background-color: rgba($scrollbar-background-color, 0.5);

		&::after {
			content: '';
			position: absolute;
			display: block;

			width: 100%;
			height: 100%;
			transform: rotate(180deg);

			background: url('./img/downArrow-white.png');
			background-size: 18px 12px;
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	.header-content {
		width: 100%;
		height: 100%;

		margin: 0;
		font-size: 1.75rem;

		color: $text-color;
		background-color: $background-color;
		border-bottom: 1px solid $text-color;

		#infoButton {
			display: none;
			position: relative;
			bottom: 0.2rem;
			// display: inline-block;
		}
	}

	.dropdown-curtain {
		display: none;
		&.open {
			display: block;
		}
		position: absolute;
		top: 0;
		left: 0;
		width: 100vh;
		height: 100vh;
		opacity: 0;
		z-index: $depth-5;
	}
}

#app-container {
	position: relative;
	height: 100%;
}

#header .dropdown,
#mobile-header .dropdown,
#lang-selector .dropup,
#more-info .dropup {
	display: inline-block;
	position: absolute;
	width: $emotions-dropdown-width;
	outline: none;

	h4 {
		margin: 0;
		pointer-events: none;
	}

	& button {
		border: none;
		padding: 0 1.5em 0 0;
		background: none;

		.caret {
			border: none;
			margin-left: 0.5em;
			vertical-align: top;
			&::after {
				content: '▼';
				display: inline-block;
				position: relative;
				font-size: 0.75em;
				font-family: 'sans-serif';
			}
		}
	}

	.dropdown-menu {
		position: relative;
		right: 0;
		width: 100%;
		margin: 0;
		padding: 0;
	  	font-size: 1em;
		background-color: rgba($scrollbar-background-color, 1);
		box-shadow: none;
		border: none;
		border-radius: 0;
		outline: none;

		li {
			box-sizing: border-box;
			margin-bottom: 0;
			padding: 0 0 0 1em;
			line-height: 2em;

			color: $text-overlay-color;

			&:first-of-type {
				padding-top: 0.5em;
			}
			&:last-of-type {
				padding-bottom: 0.5em;
			}

			&:hover,
			&:active {
				background-color: rgba($menu-highlight-color, 1);
				outline: none;
			}
		}
	}
}
#header .dropdown,
#mobile-header .dropdown,
#more-info .dropup {
	right: 0;
	text-align: right;
}
#lang-selector .dropup {
	left: 0;
	text-align: left;
}

#mobile-header .dropdown {
	position: absolute;
	top: 0;
	right: 0;
	width: auto;

	$mobile-nav-button-height: 18;
	button {
		position: absolute;
		top: calc(#{($ui-header-height-small - $mobile-nav-button-height)/2}px - 1rem);
		right: 0;
		width: 28px;
		height: #{$mobile-nav-button-height}px;

		margin: 1rem;
		padding: 0;
		border: none;

		background: url('./img/hamburger.png');
		background-size: 100% 100%;
		background-position: center;
		background-repeat: no-repeat;
	}

	.dropdown-menu {
		width: 50vw;
		height: 100vh;

		// override bootstrap
		left: auto;
		float: none;

		overflow-x: hidden;
		overflow-y: auto;

		background-color: $background-color;
		box-shadow: -4px 0 12px rgba(0, 0, 0, 0.15);
		z-index: $depth-10;
		
		li {
			padding: 0;
			width: 100%;
			font-size: 2rem;
			line-height: #{$ui-header-height-small}px;

			color: $text-color;
			text-align: center;

			&:first-of-type {
				margin: -0.5rem 0 0.5rem 0;
				padding: 0 1rem 0 0;
				@extend %raleway-light;
				text-align: right;
				font-size: 5rem;
				color: rgba($scrollbar-background-color, 0.5);
			}
			&:last-of-type {
				padding-bottom: 0;
			}

			&:hover,
			&:active {
				background-color: rgba($scrollbar-background-color, 0.5);
			}

			&.divider {
				margin: 0 0 1rem 0;
				padding-bottom: 1rem;
				background: none;
				border-bottom: solid 1px rgba($scrollbar-background-color, 0.5);
			}
		}
	}
}

$lower-left-logo-width: 100px;
#lower-left-logo {
	cursor: pointer;
	display: block;
	position: absolute;
	left: 0;
	width: $lower-left-logo-width;
	height: $more-info-height;
	bottom: 0;
	left: 0;
	background-color: rgba($scrollbar-background-color, 0.5);

	img {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
	}
}

#lang-selector {
	position: absolute;
	width: $emotions-dropdown-width;
	height: $more-info-height;
	bottom: 0;
	left: $lower-left-logo-width + 1px;

	color: $text-color;
	background-color: rgba($scrollbar-background-color, 0.5);
	pointer-events: auto;
	user-select: none;
	cursor: pointer;
	z-index: $depth-5;

	// TODO: DRY this out. largely copied from _more.scss
	.dropup {
		position: relative;
		display: block;
		width: 100%;
		text-align: center;

		& button {
			width: 100%;
			height: 100%;
			padding: 0;
			text-transform: uppercase;
			line-height: $more-info-height;

			// .caret {
			// 	display: none;
			// }
		}

		.dropdown-menu {
			position: absolute;
			top: auto;
			bottom: 100%;
			margin-bottom: 1px;
			padding-top: 1px;
			background-color: rgba($callout-highlight-color, 1);

			li {
				text-transform: uppercase;
				color: $text-color;
				text-align: left;

				&:first-of-type {
					margin-top: 0.5em;
					padding-top: 0;
				}
				&:last-of-type {
					padding-bottom: 0;
					margin-bottom: 0.5em;
				}
			}
		}
	}
}

@keyframes stretch {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.navArrow {

	img {
		cursor: pointer;

		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		bottom: 20px;

		display: none;

		&.left {
			left: -100px
		}

		&.right {
			left: 100px
		}

		&.fadeOutIn {
			animation-name: stretch;
			animation-duration: 4s;
			animation-timing-function: ease-in;
			animation-delay: 0;
			animation-direction: normal;
			animation-iteration-count: infinite;
			animation-fill-mode: none;
			animation-play-state: running;
		}

		&.visible {
			display: block;
		}

	}

}
.small-screen .navArrow {
	position: absolute;
	bottom: 0;

	// no container element for navArrows, so manually position.
	width: 33%;
	&#left-arrow {
		left: 0;
		& .navLabel {
			margin-left: 0.65rem;
		}
	}
	&#down-arrow {
		left: 33.5%;
	}
	&#right-arrow {
		right: 0;
		& .navLabel {
			margin-right: 0.65rem;
		}
	}

	&#left-arrow,
	&#down-arrow,
	&#right-arrow {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s 1s, opacity #{$ui-labels-duration-out}s ease;
		&.immediate {
			transition: visibility 0s, opacity 0s;
		}
		&.visible {
			visibility: visible;
			opacity: 1.0;
			transition: visibility 0s, opacity #{$ui-labels-duration-in}s 1s ease;
			&.immediate {
				transition: visibility 0s, opacity 0s;
			}
		}
	}

	height: #{$ui-header-height-small}px;
	box-sizing: border-box;

	line-height: #{$ui-header-height-small}px;
	text-align: center;
	white-space: nowrap;

	color: $background-color;
	background-color: rgba($scrollbar-background-color, 0.5);

	&.disabled {
		img,
		.navLabel {
			opacity: 0.5;
		}
	}

	img {
		display: inline-block;
		position: relative;
		top: 0;
		width: 18px;
		height: 9px;

		&.left {
			left: auto;
			width: 9px;
			height: 18px;
		}

		&.right {
			left: auto;
			width: 9px;
			height: 18px;
		}
	}

	.navLabel {
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		margin: 0;
	}
}

.mobile-nav-arrow {
	position: absolute;
	top: 0;
	width: 100%;
	pointer-events: none;

	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 1s, opacity #{$ui-labels-duration-out}s ease;
	&.visible {
		visibility: visible;
		opacity: 1.0;
		transition: visibility 0s, opacity #{$ui-labels-duration-in}s ease;
	}

	img {
		position: absolute;
		pointer-events: auto;
		cursor: pointer;
		padding: 1rem;			// increase hit area size
	}
	.left {
		left: calc(-1rem - 8px);
	}
	.right {
		right: calc(-1rem - 8px);
	}
}

#header .dropdown {
	.more-on &.hide-on-more {
		display: none;
	}
}

#main {
	text-align: center;
	position: relative;

	// prevent scrollbars across the site.
	// might be better to fix each offender individually, but this works well for now.
	overflow: hidden;
}

#scrollbar {
	position: absolute;
	width: $emotions-dropdown-width;
	height: calc(100% - #{$ui-header-height}px);
	top: #{$ui-header-height}px;
	right: 0;
	overflow: hidden;
	pointer-events: none;

	.mousemoveTriggerScrollbar {
		pointer-events: all;
		height: calc(100% - #{$ui-header-height}px);
		// width of hidden scrollbar trigger at 4 time segment-container's width
		width: calc(0.75em * 6);
		margin-left: calc(#{$emotions-dropdown-width} - 0.75em * 6);
	}

	div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.segment-container {
		position: absolute;
		width: $emotions-dropdown-width;
		height: calc(100% - #{$more-info-height});
		top: 0;
		left: $emotions-dropdown-width - 0.75em;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		cursor: pointer;
		pointer-events: auto;

		div {
			width: 100%;
			flex-grow: 1;
			margin: auto;

			text-align: center;

			color: $text-color;
			background-color: rgba($scrollbar-background-color, 0.5);

			transition-property: background-color, color;
			transition-duration: #{$states-highlighted-out}s;
			transition-timing-function: ease-out;

			box-sizing: border-box;
			margin-bottom: 1px;

			&.highlighted {
				color: $text-overlay-color;
				background-color: rgba($scrollbar-background-color, 0.9);
				transition: background-color #{$states-highlighted-in}s ease-out;
			}

			h4 {
				pointer-events: none;
			}
		}
	}
}

#callout {
	position: absolute;
	width: 19em;
	top: 0;
	left: 0;

	padding: 1.5em;
	@extend %raleway-light;
	color: $text-overlay-color;
	text-align: left;
	pointer-events: none;

	opacity: 0.0;

	transition-property: opacity, background-color;
	transition-duration: #{$ui-overlays-duration-out}s;
	transition-timing-function: ease-in-out;

	&.visible {
		transition-duration: #{$ui-overlays-duration-in}s;
		opacity: 1.0;
	}

	background-color: rgba($callout-background-color, 0.5);
	@include emotion-background-color(0.5);

	h3 {
		margin-top: 0;
		text-transform: uppercase;
	}

	p {
		margin-bottom: 0;
		font-size: 1.0em;
	}

	a {
		transition-property: color;
		transition-duration:  #{$ui-overlays-duration-out}s;
		transition-timing-function: ease-in-out;
		pointer-events: auto;
		font-weight: normal;
		@include emotion-color;
	}

	.more-on & {
		display: none;
	}
}

.close-button {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	line-height: 1em;
	cursor: pointer;

	&::before {
		display: inline-block;
		margin: 0;
		padding: 0;

		font-size: 3em;
		font-weight: 200;
		content: '×';
	}
}

#more-about {
	.back-to-atlas {
		position: relative;
	}
}

.back-to-atlas {
	position: absolute;
	display: inline-block;
	bottom: 0em;
	left: 50%;
	transform: translateX(-50%);
	margin: 1em 0em 1em 0em;

	border: 1px solid;
	text-align: center;
	padding: .2em .4em;

	color: $text-color;
	background-color: rgba($background-color, 0.5);
	cursor: pointer;

	h4 {
		margin: 0;
	}

	p {
		margin: 0;
	}
}

#modal-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: $background-color;
	opacity: 0.0;
	display: none;

	transition-property: opacity;
	transition-duration: #{$ui-overlays-duration-out}s;
	transition-timing-function: ease-in-out;
	z-index: $depth-3000;

	&.visible {
		transition-duration: #{$ui-overlays-duration-in}s;
		opacity: 0.25;
	}
}

#infoButton {
	cursor: pointer;

	&::after {
		display: inline-block;
		width: 1.4em;
		height: 1.4em;
		background: $infoButton-highlight-color;
		border-radius: 50%;
		content: 'i';
		line-height: 1.5em;
		font-size: .8em;
		margin-left: 1em;
		color: $text-overlay-color;
	}
}

#modal {
	$modal-width: 40em;
	$modal-height-cover: 36em;
	$modal-height-pages: 32em;

	position: absolute;
	width: $modal-width;
	height: $modal-height-cover;
	left: 50%;
	margin-left: -0.5 * $modal-width;
	top: 50%;
	margin-top: -0.5 * $modal-height-cover;
	padding: 2.5em 4em;
	z-index: $depth-4000;

	&.pages {
		height: $modal-height-pages;
		margin-top: -0.5 * $modal-height-pages;
		padding: 4.5em 6em 5.5em 6em;
	}

	text-align: center;
	@extend %raleway-light;
	background-color: rgba($scrollbar-background-color, 0.9);
	color: $text-overlay-color;

	opacity: 0.0;
	display: none;

	transition-property: opacity;
	transition-duration: #{$ui-overlays-duration-out}s;
	transition-timing-function: ease-in-out;

	&.visible {
		transition-duration: #{$ui-overlays-duration-in}s;
		opacity: 1.0;
	}

	/*
	// this fanciness didn't work out, taking too much time. nevermind.
	transition-property: opacity, height, margin-top;
	transition-duration: #{$ui-overlays-duration-out}s, #{$ui-modal-pages-duration}s, #{$ui-modal-pages-duration}s;
	transition-timing-function: ease-in-out;

	&.visible {
		transition-duration: #{$ui-overlays-duration-in}s, #{$ui-modal-pages-duration}s, #{$ui-modal-pages-duration}s;
		opacity: 1.0;
	}
	*/

	.page-container {
		position: relative;
		width: 100%;
		height: 100%;
	}

	.page {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		display: none;
		&.visible {
			display: flex;
		}

		// opacity: 0.0;
		transition: opacity #{$ui-modal-pages-duration}s ease-in-out;
		&.focused {
			opacity: 1.0;
		}
	}

	.overview {
		figure {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 0;
		}

		figcaption {
			width: 100%;
			margin-top: -1em;
			text-align: center;
			font-size: 0.8em;
		}
	}

	.research {
		figcaption {
			width: 100%;
			display: flex;
			flex-direction: row;
			text-align: left;
		}
		.big-num {
			display: block;
			flex: 1 1 20%;
			@extend %raleway-regular;
			color: $text-overlay-color;
			margin-top: -0.6em;
			font-size: 2em;
		}
		.right {
			display: block;
			flex: 1 1 80%;
			padding-right: 1em;	// no orphans
		}

		.survey-results {
			width: 100%;
			height: 8em;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			font-size: 0.8em;

			.viz {
				position: relative;
				height: 100%;
				flex: 1 1 auto;
				margin: 0 0.2em;
				background-color: rgba($scrollbar-background-color, 1.0);
			}

			.bar {
				margin: 0 0.2em;
				@include emotion-background-color;
			}

			p {
				display: block;
				position: absolute;
				bottom: 0.5em;
				text-align: center;
			}
			.big-num {
				margin-top: 0;
				font-size: 1.8em;
			}
		}
	}

	.footer {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		&.pagination {
			margin-top: 2em;
			visibility: hidden;
			&.visible {
				visibility: visible;
			}
			justify-content: center;
		}
	}

	h2 {
		text-align: center;
		width: 12em;
		margin: 0;
		text-transform: uppercase;
	}

	p {
		margin: 0;
		text-align: left;
		font-size: 1.0em;
	}

	a,
	a:link,
	a:visited,
	a:hover,
	a:active {
		@extend %raleway-regular;
		text-decoration: none;
		color: lighten($color-enjoyment, 15%);
	}

	.button.cover {
		width: 45%;
		padding: .2em .4em;
		margin: 0;
		outline: 1px solid $text-overlay-color;

		text-align: center;
		text-transform: uppercase;
		cursor: pointer;

		&.active {
			outline-width: 2px;
		}
	}

	.button.pagination {
		width: 1.6em;
		height: 1.6em;
		flex: none;
		margin: 0;

		background-color: rgba(0,0,0,0);
		cursor: pointer;

		&::after {
			position: relative;
			display: block;
			width: 0.6em;
			height: 0.6em;
			left: 0.5em;
			top: 0.5em;

			content: '';
			border: 1px solid $text-overlay-color;
			border-radius: 50%;

			transition-property: width, height, left, top;
			transition-duration: 0.15s;
			transition-timing-function: ease-in-out;
		}

		&.active::after {
			width: 0.8em;
			height: 0.8em;
			left: 0.4em;
			top: 0.4em;
			background-color: $text-overlay-color;
		}
	}
}

#mobile-caption {
	$horiz-margin: 2rem;
	position: absolute;
	bottom: #{$ui-mobile-footer-height}px;

	height: $ui-mobile-caption-height;
	width: calc(100% - #{2 * $horiz-margin});
	margin: 0 $horiz-margin 1rem $horiz-margin;
	text-align: center;

	pointer-events: none;
	user-select: none;

	.headline {
		text-transform: uppercase;
	}

	.body {
		// padding: 0 2rem;
	}
}