// Google Fonts imported in index.html
%raleway-bold {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: $text-color;
}

%raleway-regular {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: $text-color;
}

%raleway-light {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: $text-color;
}
