// colors
$text-color: #4d4d4d;
$background-color: rgb(230, 215, 200);

$label-color-anger: #af202a;
$label-color-disgust: #006837;
$label-color-enjoyment: #f8881d;
$label-color-fear: #8f278b;
$label-color-sadness: #3668b2;


// sizes and positions
$header-height: 55px;
$states-graph-width: 70%;
