$continents-centerX: 0.48;
$continents-centerY: 0.5;
$continents-centerX-small: 0.5;
$continents-centerY-small: 0.35;
$continents-panX-duration-in: 0.75;
$continents-panX-duration-out: 0.75;
$continents-panY-duration-in: 1.5;
$continents-panY-duration-out: 0.75;
$continents-spread-delay-in: 0.5;
$continents-spread-delay-out: 0.25;
$continents-spread-duration-in: 1.5;
$continents-spread-duration-out: 0.75;
$continents-introSpread-duration-in: 1.5;
$continents-introSpread-duration-out: 2.5;
$continents-introSpread-delay-in: 0;
$continents-introSpread-delay-out: 1;
$states-graph-width: 60%;
$states-graph-width-small: 100%;
$states-graph-margins-left: 20;
$states-graph-margins-right: 20;
$states-backgrounded-actions-scale: 0.6;
$states-backgrounded-actions-top: -17%;
$states-backgrounded-actions-scale-small: 0.66;
$states-backgrounded-actions-top-small: -17%;
$states-backgrounded-scale: 0.4;
$states-backgrounded-top: -10%;
$states-backgrounded-duration-in: 1.5;
$states-backgrounded-duration-out: 1.5;
$states-containers-bottom: 10%;
$states-highlighted-in: 0;
$states-highlighted-out: 0.2;
$actions-backgrounded-scale: 0.7;
$actions-backgrounded-scale-small: 0.5;
$actions-margins-top: 25;
$actions-margins-bottom: 10;
$actions-add-time: 1000;
$actions-add-delay: 250;
$actions-update-time: 750;
$actions-update-delay: 0;
$actions-remove-time: 600;
$actions-remove-delay: 0;
$triggers-bottom: 20%;
$triggers-bottom-small: 53%;
$triggers-bottom-height-small: 15%;
$emotions-panX-duration: 0.75;
$emotions-panX-delay: 0.25;
$emotions-scale-in-delay: 0.65;
$ui-header-height: 55;
$ui-header-height-small: 44;
$ui-header-mobile-nav-target-width: 44;
$ui-header-mobile-nav-target-height: 44;
$ui-header-mobile-nav-width: 28;
$ui-header-mobile-nav-height: 18;
$ui-header-mobile-nav-margin: 1;
$ui-mobile-footer-height: 44;
$ui-mobile-caption-height: 15rem;
$ui-mobile-caption-height-tall: 22rem;
$ui-scrollbar-introOpenDelay: 1.5;
$ui-scrollbar-closeDelay: 0.2;
$ui-overlays-duration-in: 1;
$ui-overlays-duration-out: 0.5;
$ui-modal-pages-duration: 0.5;
$ui-intro-delay: 1;
$ui-labels-duration-in: 1;
$ui-labels-duration-out: 0.5;
$ui-popups-duration-open: 0.5;
$ui-popups-duration-close: 0.5;
$ui-popups-duration-border-open: 0.25;
$ui-popups-expansion-amount: 100;
$ui-popups-min-width: 150;
$ui-popups-max-width: 200;