$continents-panX-duration-in: 0.75;
$continents-panX-duration-out: 0.75;
$continents-panY-duration-in: 1.5;
$continents-panY-duration-out: 0.75;
$continents-spread-delay-in: 0.5;
$continents-spread-delay-out: 0.25;
$continents-spread-duration-in: 1.5;
$continents-spread-duration-out: 0.75;
$continents-introSpread-duration-in: 1.5;
$continents-introSpread-duration-out: 2.5;
$continents-introSpread-delay-in: 0;
$continents-introSpread-delay-out: 1;
$states-backgrounded-actions-scale: 0.6;
$states-backgrounded-actions-top: -17%;
$states-backgrounded-scale: 0.4;
$states-backgrounded-top: -10%;
$states-backgrounded-duration-in: 1.5;
$states-backgrounded-duration-out: 1.5;
$states-containers-bottom: 10%;
$states-highlighted-in: 0;
$states-highlighted-out: 0.2;
$actions-backgrounded-scale: 0.7;
$actions-margins-bottom: 10;
$actions-add-time: 1000;
$actions-add-delay: 250;
$actions-update-time: 750;
$actions-update-delay: 0;
$actions-remove-time: 600;
$actions-remove-delay: 0;
$triggers-bottom: 20%;
$emotions-panX-duration: 0.75;
$emotions-panX-delay: 0.25;
$emotions-scale-in-delay: 0.65;
$ui-scrollbar-toggle-duration-open: 0.25;
$ui-scrollbar-toggle-duration-close: 0.5;
$ui-scrollbar-toggle-delay-close: 0.5;
$ui-overlays-duration-in: 1;
$ui-overlays-duration-out: 0.5;
$ui-intro-delay: 1;