#calm {
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 600px;

	top: 0;
	left: 50%;
	margin-left: -50%;

	text-align: center;

	g.continent {
		mix-blend-mode: multiply;
		cursor: pointer;
	}

	circle {
		fill: none;
	}

	.calm-paths {
		fill: none;
	}

	.visit-annex {
		position: absolute;
		bottom: 1em;
		left: 50%;
		margin-left: -3em;

		border: 1px solid;
		text-align: center;
		padding: .2em .4em;

		color: $text-color;
		background-color: rgba($background-color, 0.5);
		cursor: pointer;

		h4 {
			margin: 0;
		}

		p {
			margin: 0;
		}
	}

	.label {
		@include emotion-color();
	}
}
