#continents {
	position: absolute;
	width: 100%;
	height: 80%;
	min-height: 600px;

	bottom: 10%;
	left: 50%;
	margin-left: -50%;

	text-align: center;

	g.continent {
		cursor: pointer;
		mix-blend-mode: multiply;
	}

	circle {
		fill: none;
	}
}

#continent-labels {
	position: absolute;
	top: 0px;

	div {
		position: absolute;
		text-align: center;
		opacity: 0.0;
		-webkit-transition: opacity 3s cubic-bezier(0.645, 0.045, 0.355, 1);
		transition:         opacity 3s cubic-bezier(0.645, 0.045, 0.355, 1);

		&.visible {
			opacity: 1.0;
		}
	}

	a,
	a:link,
	a:visited,
	a:hover,
	a:active {
		text-decoration: none;
		color: #4d4d4d;
	}
}
