#continents {
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 600px;

	top: 0;
	left: 50%;
	margin-left: -50%;

	text-align: center;

	g.continent {
		cursor: pointer;
		mix-blend-mode: multiply;

		.circle-wrapper {
			transition: transform #{$continents-spread-duration-out}s #{$func-ease-out-quad};
			transform: rotateX(0);
			&.flat {
				transform: rotateX(90deg);
				transition: transform #{$continents-spread-duration-in}s #{$func-ease-out-quad};
			}
		}
	}

	circle {
		fill: none;
	}

	.emotion-label {
		transform: translate(-50%, -50%);
		@include emotion-color;
	}
}
