.popped {
	z-index: 9999;
	border: 1px solid #666;
}
// padding: 18px 20px;
[data-popuptarget] {
	border: 1px solid rgba(102, 102, 102, 0);
	background: rgba(255,255,255,0.8);
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.popped[data-popuptarget] {
	border-color: rgba(102, 102, 102, 1.0);
	padding: 18px 20px;
}

.default-interactive-helper[data-popuptarget] {
	border: 1px solid #666;
}

.popup-template {
	position: initial;
	display: block;
	top: 0;
	left: 0;
    padding: 0;
	border: 0;
	text-align: left;
	z-index: 0;
	opacity: 0;
	height: auto;
	width: auto;
	overflow: hidden;

	&.transition {
		transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
	}

	&.fade-out {
		height: 0 !important;
		width: 0 !important;
		opacity: 0 !important
	}

	/* Children */
	.close {
		position: absolute;
		right: 20px;
		top: 15px;
		height: 1.3em;
		width: 1.3em;
		margin: 0;
		padding: 0;
		background: 0;
		border: 0;
		outline: none;
		line-height: 1;
		vertical-align: middle;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		user-select: none;
		touch-action: manipulation;
		-webkit-appearance: none;

		&:before {
			content: '×';
			font-weight: 200;
		    font-size: 2.55em;
		    line-height: 18px;
		}
	}

	.title {
		display: none;
	}

	.body {
		margin: 0.5em 0 0;
		font-size: 0.8em;
		line-height: 1.25;
	}
}

.popped {
	z-index: 9999;
}


