$body-font-size: 0.8em;
$body-line-height: 1.25em;
$vert-padding: 18px;
$horiz-padding: 20px;

.popped {
	z-index: 9999;
}

[data-popuptarget] {
	border-width: 1px;
	border-style: solid;
	@include emotion-border-color(0.0);

	transition:
		background #{$ui-popups-duration-close}s ease-in,
		padding #{$ui-popups-duration-close}s ease-in,
		opacity #{$ui-popups-duration-close}s ease-in,
		border-color #{$ui-popups-duration-close}s ease-in;

	&.popped {
		@include emotion-border-color();
		background: $popup-background-color;
		padding: $vert-padding $horiz-padding;

		&.show-only {
			opacity: 1.0;
		}

		&.no-body {
			.body {display: none;}
		}
	}

	&.default-interactive-helper,
	&.highlighted,
	&.selected {
		@include emotion-border-color();
		transition: border-color #{$ui-popups-duration-border-open}s ease-out;	// add highlight borders a bit more quickly
	}

	&[data-clip] {
		clip: rect(0px, 0px, 0px, 0px);
		&.unclip {
			clip: initial;
		}
	}

	&.muted,
	&.muted.default-interactive-helper {
		@include emotion-border-color(0.0);
		opacity: 0.5 !important;
	}

	.secondary {
		position: absolute;
		display: block;
		box-sizing: border-box;
		width: 0px;
		top: -1px;		// account for some box measurement problem i can't figure out

		padding: calc(#{$vert-padding}/* + 0.8em*/) $horiz-padding $vert-padding $horiz-padding;
		opacity: 0.0;
		overflow: hidden;

		@include emotion-background-color(0.5);
		&.constructive {
			@include emotion-background-color(0.75);
		}
		&.destructive {
			@include emotion-background-color(0.25);
		}

		border-width: 1px;
		border-style: solid;
		@include emotion-border-color(1.0);

		transition: width #{$ui-popups-duration-open}s ease, opacity #{$ui-popups-duration-open}s ease;
		&.closing {
			transition: width #{0.5 * $ui-popups-duration-open}s ease-out, opacity #{0.5 * $ui-popups-duration-open}s ease-out;
		}

		&.constructive {
			color: $text-overlay-color;
		}

		&::before {
			z-index: -1;
			display: block;
			position: absolute;
			width: inherit;
			height: inherit;
			left: 0;
			top: 0;
			content: ' ';
			background-color: $popup-background-color;
			opacity: inherit;
			transition: inherit;
		}
	}
}

.popup-template {
	position: initial;
	display: block;
	top: 0;
	left: 0;
    padding: 0;
	border: 0;
	text-align: left;
	z-index: 0;
	opacity: 0;
	height: auto;
	width: auto;
	overflow: hidden;
	pointer-events: auto;

	&.transition {
		opacity: 1;
		transition: all #{$ui-popups-duration-open}s ease;
	}

	&.fade-out {
		height: 0 !important;
		width: 0 !important;
		opacity: 0 !important
	}

	/* Children */
	.close {
		position: absolute;
		right: 20px;
		top: 15px;
		height: 1.3em;
		width: 1.3em;
		margin: 0;
		padding: 0;
		background: 0;
		border: 0;
		outline: none;
		line-height: 1;
		vertical-align: middle;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		user-select: none;
		touch-action: manipulation;
		-webkit-appearance: none;

		&:before {
			content: '×';
			font-weight: 200;
		    font-size: 2.55em;
		    line-height: 18px;
		}
	}

	.title {
		display: none;
	}
}

.popup-template,
.secondary {
	.body {
		margin: 0.5em 0 0;
		font-size: $body-font-size;
		line-height: $body-line-height;
		word-wrap: break-word;
	}
}