#timeline-section {
	#timeline-graphics {
		position: absolute;
		top: 0;
		bottom:0;
		left: $section-text-width;
		right:0;
	}
	.episode-parent {
		position: absolute;
		top: 50%;
		height: 300px;
		width: 100%;
		margin: 0 auto;
		visibility:hidden;
		transform: translateY(-50%);
		cursor:pointer;
	}
	svg * {
		cursor: default;
	}
	.clickable tspan {
		cursor: pointer;
		text-decoration: underline;
	}


}

