#timeline-section {
	#timeline-graphics {
		position: absolute;
		top: 0;
		bottom:0;
		left: $section-text-width;
		right:0;
	}
	.episode-parent {
		position: relative;
		top: 50%;
		height: 300px;
		margin: 0 auto;
		visibility:hidden;
		transform: translateY(-50%);
		cursor:pointer;
	}
	//.fullscreen-element,
	//.episode-parent {
	//	position: absolute;
	//	top: 0;
	//	left: 0;
	//	bottom: 0;
	//	right: 0;
	//	width: 100%;
	//	height: 100%;
	//}
	//.section{
	//	overflow: hidden;
	//	position: relative;
	//}
	//.timeline {
	//	background: #454545;
	//}
	svg * {
		cursor: default;
	}
	.clickable tspan {
		cursor: pointer;
		text-decoration: underline;
	}
}

