#timeline-section {
	#timeline-graphics {
		position: absolute;
		top: 0;
		bottom: 0;
		left: $section-text-width;
		right: 0;
	}
	.episode-parent {
		position: absolute;
		top: 50%;
		height: 300px;
		width: 100%;
		margin: 0 auto;
		visibility: hidden;
		transform: translateY(-50%);
		cursor: pointer;
		svg {
			padding: 0 2em;
		}
	}
	svg * {
		cursor: default;
	}
	.clickable tspan {
		cursor: pointer;
		text-decoration: underline;
	}
	.section-text {
		button.body-awareness {
			display: none;
		}
		div.body-awareness {
			$arrow-size: 0.3em;
			overflow: hidden;
			position: relative;
			padding: 15px 0;
			padding-bottom: 0;
			border-top: 1px solid #777;
			display: none;
			&:first-of-type {
				border: none;
				margin-top: -15px;
			}
			h3 {
				position: relative;
				margin-bottom: 5px;
				padding-left: 1em;
				pointer-events: auto;
				cursor: pointer;
				&:before {
					position: absolute;
					content: '';
					display: inline-block;
					opacity: 0.3;
					width: 0;
					height: 0;
					left: 0;
					top: 0.5em;
					border-top: $arrow-size solid #000;
					border-right: $arrow-size solid transparent;
					border-bottom: none;
					border-left: $arrow-size solid transparent;
				}
				&:hover {
					&:before {
						opacity: 1;
					}
				}
			}
			p {
				margin-left: 1em;
			}
			ul {
				margin: -10px 0 0 0;
				line-height: 1.2;
			}
			p, ul {
				transition: opacity 0.3s;
				margin-bottom: 1em;
			}
			&.closed {
				height: 53px;
				h3:before {
					left: 0.2em;
					top: .4em;
					border-top: $arrow-size solid transparent;
					border-right: none;
					border-bottom: $arrow-size solid transparent;
					border-left: $arrow-size solid #000;
				}
				p, ul {
					opacity: 0;
					transition: opacity 0s;
				}
			}
		}

	}
}

#illumination-block {
	$edge-width: 20%;
	position: absolute;
	width: 150%;
	top: 0;
	bottom: 0;
	right: 100%;
	background-color: transparent;
	overflow: hidden;
	&:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		right: $edge-width;
		top: 0;
		bottom: 0;
		background-color: #fff;
		transform: translateX(3px);
	}
	&:after {
		content: ' ';
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		transform: translateX(2px);
		width: $edge-width;
		background-color: transparent;
		background-image: url('./img/glowEdge.png');
		background-position: right;
		background-repeat: repeat-y;
		background-size: 100%;
	}
}

/* ----------- Phones ----------- */
.small-screen {
	//@media screen and (max-width: 750px) {
	#timeline-section {
		#timeline-graphics {
			left: 0;
			overflow-y: visible;
			.episode-parent {
				position: absolute;
				top: 0;
				bottom: 0;
				width: 100%;
				height: auto;
				text-align: center;
				transform: translateZ(0);
				& > svg {
					position: relative;
					left: 0;
					//height: auto;
					width: 930px;
					padding: 0 0 0 30px;
				}
			}
			//&:after {
			//	-moz-box-shadow: inset 0 0 10em #454545;
			//	-webkit-box-shadow: inset 0 0 10em #454545;
			//	box-shadow: 0 0 10em #454545 inset;
			//	position: absolute;
			//	top: 0;
			//	left: 0;
			//	width: 100%;
			//	height: 100%;
			//	z-index: 2;
			//	content: "";
			//	pointer-events: none;
			//}
		}
	}
	.illumination-container {
		position: absolute;
		overflow: visible;
		height: 300px;
	}
	#illumination-block {
		position: absolute;
		height: 300px;
	}

	.section-text {
		p, ul {
			margin-bottom: 0.5em;
		}
	}
}

