#triggers {
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 600px;

	top: 0;
	left: 50%;
	margin-left: -50%;

	text-align: center;
	pointer-events: none;

	.hit-area {
		pointer-events: auto;
	}
}

#trigger-graph-container {
	position: absolute;
	bottom: 0;
	left: 50%;

	width: $triggers-graph-width;
	height: 100%;
	margin-left: -$triggers-graph-width/2;

	path.halo {
		fill-opacity: 0.75;
	}

	opacity: 1.0;
	-webkit-transition: opacity 0.5s;
	transition:         opacity 0.5s;
	&.muted {
		opacity: 0.3;
	}
}

#trigger-labels {
	position: absolute;
	width: 100%;
	height: 100%;

	.label {
		position: absolute;
		width: 10em;

		@include emotion-color;

		h3 {
			position: absolute;
			left: -50%;
			top: -50%;
		}
	}

	.arrows-container {
		position: absolute;
		left: 0;
		top: 0;
	}

	.arrow {
		@include emotion-stroke-color;
		@include emotion-fill-color;
		line {
			stroke-width: 3;
		}
		path {
			stroke: none;
		}
	}
}

#database-label {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 7em;
	@include emotion-color;

	h3 {
		position: absolute;
		left: -50%;
		margin: 1.25em 0 0 -50%;
	}

	opacity: 0.0;
	-webkit-transition: opacity 0.5s;
	transition:         opacity 0.5s;
	&.visible {
		opacity: 1.0;
	}
}

#trigger-hit-area-container {
	width: 100%;
	height: 100%;

	svg {
		stroke: none;
		fill: lime;
		fill-opacity: 0;
	}
}

#temp-triggers-nav {
	position: absolute;
	height: 100%;
	right: 3%;
	pointer-events: none;

	.prev {
		position: absolute;
		top: 3%;
		right: 0;
		pointer-events: auto;
		white-space: nowrap;
	}

	.next {
		position: absolute;
		bottom: 3%;
		right: 0;
		pointer-events: auto;
		white-space: nowrap;
	}

	opacity: 0.0;
	-webkit-transition: opacity 1s;
	transition:         opacity 1s;
	&.visible {
		opacity: 1.0;
	}
}
