#triggers {
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 600px;

	top: 0;
	left: 50%;
	margin-left: -50%;

	text-align: center;
	pointer-events: none;

	.hit-area {
		pointer-events: auto;
	}

	.triggers-container {
		position: absolute;
		width: 100%;
		height: 100%;

		pointer-events: none;
		opacity: 0.0;

		&.transitioning {
			transition-property: transform, opacity;
			transition-duration: #{$emotions-panX-duration}s;
			transition-timing-function: ease-in-out, cubic-bezier(0.9, 0.0, 0.5, 1.0);
		}

		&.active {
			pointer-events: auto;
			opacity: 1.0;
		}
	}

	.graph-container {
		position: absolute;
		bottom: 0;
		left: 50%;

		width: $triggers-graph-width;
		height: 100%;
		margin-left: -$triggers-graph-width/2;

		path.halo {
			fill-opacity: 0.75;
		}

		opacity: 1.0;
		-webkit-transition: opacity 0.5s;
		transition:         opacity 0.5s;
		&.muted {
			opacity: 0.3;
		}
	}

	.label-container {
		position: absolute;
		width: 100%;
		height: 100%;

		.label {
			position: absolute;
			width: 10em;

			@include emotion-color;

			h3 {
				transform: translate(-50%, -50%);
				margin: 0;
				font-size: 0.8em;
				text-transform: lowercase;
				&:first-letter {
					text-transform: uppercase;
				}
			}
		}

		.arrows-container {
			position: absolute;
			left: 0;
			top: 0;
		}

		.arrow {
			@include emotion-stroke-color;
			@include emotion-fill-color;
			line {
				stroke-width: 3;
			}
			path {
				stroke: none;
			}
		}
	}

	.horizon {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: $triggers-bottom;
		background: linear-gradient(to bottom, rgba(245,245,245,1.0) 0%,rgba(255,255,255,1.0) 100%);

		opacity: 0.0;
		transition: opacity 0.5s;
		&.visible {
			opacity: 1.0;
			transition: opacity 2.0s;
		}
	}
}

#trigger-phase-labels {
	position: absolute;
	left: 50%;
	bottom: 0;

	text-align: center;
	@include emotion-color;

	.label {
		position: absolute;
		transform: translate(-50%, -50%);
		margin: 0;

		opacity: 0.0;

		transition-property: opacity, color;
		transition-duration: 0.5s, #{$emotions-panX-duration}s;
		transition-timing-function: ease, cubic-bezier(0.9, 0.0, 0.5, 1.0);

		&.visible {
			opacity: 1.0;
		}
	}
}

#trigger-hit-area-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;

	svg {
		stroke: none;
		fill: lime;
		fill-opacity: 0;
	}

	.hit-area {
		cursor: pointer;
	}
}

#temp-triggers-nav {
	position: absolute;
	height: 100%;
	top: 0;
	right: 3%;
	pointer-events: none;

	.prev {
		position: absolute;
		top: 3%;
		right: 0;
		pointer-events: auto;
		white-space: nowrap;
	}

	.next {
		position: absolute;
		bottom: 3%;
		right: 0;
		pointer-events: auto;
		white-space: nowrap;
	}

	opacity: 0.0;
	-webkit-transition: opacity 1s;
	transition:         opacity 1s;
	&.visible {
		opacity: 1.0;
	}
}
