{
	"presets": [
		[
			"@babel/preset-env",
			// {
			// 	"useBuiltIns": "entry",
			// 	"corejs": "3.22",
			// 	"targets": {
			// 		"node": "current"
			// 	}
			// }
		]
	],
	"plugins": [
		"transform-object-assign"
	]
}